VITE_APP_NAME=NextGen Visiting Card
VITE_BRAND_NAME=nextgen
VITE_POWERED_BY=NextGen
DB_HOST=127.0.0.1
DB_USER=your_db_user
DB_PORT=3306
DB_PASSWORD=your_db_password
DB_NAME=visiting_cards_db
VITE_ADMIN_USERNAME=nextgen@gmail.com
VITE_ADMIN_PASSWORD=nextgen@123
ADMIN_USERNAME=nextgen@gmail.com
ADMIN_PASSWORD=nextgen@123
VITE_PUBLIC_BASE_URL=http://localhost:5173
PUBLIC_BASE_URL=http://localhost:5173
AWS_REGION=ap-south-1
AWS_S3_BUCKET=your-s3-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
